:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --twiter-blue: #1da1f2;
  --twitter-black: #14171a;
  --twitter-black-secondary: #2e2f31;
  --twitter-dark-gray: #657786;
  --twitter-light-gray: #aab8c2;
  --twitter-extra-light-gray: #e1e8ed;
  --twitter-extra-extra-light-gray: #f5f8fa;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
